.swipe-card-container {
    display: grid;
    grid-template-columns:50% 50%;
    align-items: center;
    height: 100vh;
    background-color: #03a9f4;
  }

  .recommend-title{
    color: #fff;
    padding: 5rem;
    margin-left: -5rem;
  }
  .swipe-card {
    width: 100%; 
    max-width: 400px; 
    transition: margin-right 0.3s ease; 
  }
  
  .swipe-card:nth-child(1) {
    z-index: 2; 
    margin-left: 50px;
  }
  
  .swipe-card:nth-child(2) {
  
    opacity: 0.8; 
  }
  
  mat-card-title, mat-card-content {
    text-align: center;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%;
 
  }
  
  mat-icon-button {
    margin: 0 10px; 
  }
  
  img {
    height: 200px; 
    object-fit: cover;
  }
  
  @media (max-width: 600px) {
    .swipe-card-container {
     display: grid;
     grid-template-columns: 50% 75%;
    }

    .swipe-card {
      width: 100%; 
    }
    .swipe-card:nth-child(1) {
      z-index: 2; 
      margin-left: 50px;
    }
    .swipe-card:nth-child(2) {
      margin-left: 25%;
      
    }
  
    img {
      height: 150px; 
    }
  }
  